// Base styles

// Variables
$text-width: 32.5rem;
$colour-graphite: #383428;
$colour-grey: #969696;
$colour-blue: #075cac;
$colour-orange: #DE611F;
$background-colour: rgba(209, 211, 214, 0.25);

// Selects all elements
* {
    // Includes padding and border in element width and height
    box-sizing: border-box;
    // Removes default padding
    padding: 0;
    // Removes default margins
    margin: 0;
}

// All elements within body
body {
    // Change default text colour to graphite
    color: $colour-graphite;
    // Set page background colour to a light grey
    background-color: $background-colour;
}

// Select headers 1, 2 and 3
h1, h2, h3 {
    // Apply font family
    font-family: 'Work Sans', sans-serif;
    // Increase letter spacing
    letter-spacing: 0.1rem;
}

// Select h2 headers
h2 {
    // Limit maximum width of header
    max-width: $text-width;
    // Set default margins to auto
    margin: auto;
    // Set text colour to blue
    color: $colour-blue;
    // Add bottom padding to header
    padding-bottom: 0.5rem;
    // Add a blue bottom border
    border-bottom: 0.01rem solid $colour-blue;
}

// Select paragraphs, list items and links
p, li, a, span {
    // Apply font family
    font-family: 'Poppins', sans-serif;
    // Increase letter spacing
    letter-spacing: 0.1em;
    // Increase line height by 50%
    line-height: 1.5;
}

// Select links
a {
    // Remove link decoration
    text-decoration: none;
    // Set link colour to graphite
    color: $colour-graphite;
}

// On link hover and for active links
a:hover, .active {
    // Set text colour to orange
    color: $colour-orange;
    // Make text bold
    font-weight: bold;
}

// Select images
img {
    // Apply a grey shadow around images
    box-shadow: 0.1rem 0.1rem 0.5rem $colour-grey;
}