// Variables
$padding: 1rem;
$max-width: 65rem;
$text-width: 32.5rem;
$colour-orange: #DE611F;
$colour-grey: #969696;
$colour-blue: #075cac;

// Header styles
header {
    // Padding around navbar
    padding: $padding;
    // Maximum navbar container width
    max-width: $max-width;
    // Centers the navbar
    margin: auto;
}

// Navbar styles
nav {
    // Centers the navbar links
    margin: auto;
    // Remove navbar list style
    ul {
        list-style: none;
    }
    // Horizontal margins around navbar list items
    li {
        margin: 0 1rem;
    }
    // Padding for navbar links and transition for hover animation
    a {
        padding: 0.25rem 1rem;
        transition: ease 0.25s;
    }
}
// Underlines active navigation link
.active {
    border-bottom: 0.01rem solid $colour-orange;
}

// Main styles
main {
    // Limits maximum width
    max-width: $max-width;
    // Adds padding around contents
    padding: $padding;
    // Auto horizontal margins to center align on page
    margin: 0 auto;
    // Page header font size and top margin
    h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    // Margin aligns paragraphs in center of page
    // Limits paragraph maximum width
    p {
        margin: 1rem auto;
        max-width: $text-width;
    }
}

// Footer styles
// Limit max width of footer
// Padding for footer content
// Sets footer margins
footer {
    max-width: $max-width;
    padding: $padding;
    margin: 4rem auto;
}
// Add padding between footer contents
footer > p {
    padding: 0.5rem;
}

// Page specific styles

// Page title and subtitle styles
.page-title {
    // Horizontally centers content on page
    text-align: center;
    // Bottom margin below title & subtitle div
    margin-bottom: 3rem;
    // Margin between title and subtitles
    h1 {
        margin-bottom: 0.5rem;
    }
    // Project page link styles for title and subtitle group
    // Text colour, bottom padding and horizontal margins
    // Adds a blue bottom border below link and a transition animation for hover
    a {
        color: $colour-blue;
        padding-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-bottom: 0.01rem solid $colour-blue;
        transition: ease .25s;
    }
    // When links are hovered over change text colour and bottom border colour to orange
    a:hover {
        color: $colour-orange;
        border-bottom: 0.01rem solid $colour-orange;
    }
}

// Home / About page about section styles
#home-about {
    // Maximum width of section
    max-width: $text-width;
    // Adds vertical margins and centers on the page
    margin: 2rem auto;
    // Center aligns about section header
    h2 {
        text-align: center;
    }
}

// Home / About page skills section styles
#home-skills {
    // Centers section on the page and adds vertical margins 
    margin: 4rem auto;
    // Center aligns section heading
    h2 {
        text-align: center;
    }
    // Center aligns skill list, sets max width, text colour and removes list style
    ul {
        // Vertical margins and horizontal auto margin for center alignment on page
        margin: 3rem auto;
        // Sets max width of list container
        max-width: $text-width;
        // Set text colour to blue
        color: $colour-blue;
        // Remove list style
        list-style: none;
    }
    // Center aligns skill list items in their grid columns
    li {
        margin: auto;
    }
}

// Portfolio specific styles
#portfolio-page {
    // Center algins the title and adds a marging to the bottom
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
    // List styles for projects list
    // Removes list styles and adds padding around list items
    ul {
        list-style: none;
        padding: $padding;
    }
}

// Portfolio page projects list styles
#projects-list {
    // Vertical margins above and below project list items
    li {
        margin: 2rem 0;
    }
    // Center aligns project list item text
    section {
        text-align: center;
    }
    // Limits image width to container size and sets a transition animation for image hover
    img {
        width: 100%;
        // Transition used when hovering over image
        transition: ease .25s;
    }
    // Project list item hover styles
    section:hover {
        // Project title text and bottom border colour set to orange on hover
        h2 {
            color: $colour-orange;
            border-bottom: 0.01rem solid $colour-orange;
        }
        // Increase image size by 3% on hover and alter box shadow around image
        img {
            transform: scale(1.03);
            box-shadow: 0.25rem 0.25rem 0.5rem $colour-grey;
        }
    }
}

// Project specific styles
.project-page {
    // Center aligns title
    h1 {
        text-align: center;
    }
}
// Image container styles
.project-img-container {
    // Horizontally centers image on page
    text-align: center;
    // Adds vertical margins above and below images
    margin: 3rem auto;
    // Image styles
    img {
        // Limit width to maximum size of image container
        max-width: 100%;
        // Limit maximum height of image to 50% of view port height
        max-height: 50vh;
    }
}