// Layout rules

// Header layout
header {
    // Flex box layout
    display: flex;
}

// Navbar layout
nav {
    // Navlinks list
    ul {
        // Flex box layout
        display: flex;
        // Set item flex box direction to a horizontal row
        flex-direction: row;
    }
}

// Footer layout
footer {
    // Grid layout
    display: grid;
    // Auto fits items into columns with a minimum width of 15rem and max width of half the container
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    // Center aligns content
    text-align: center;
}

// Portfolio page layout
.portfolio-page {
    // Grid layout
    display: grid;
    // Centers grid contents on page
    justify-content: center;
}

// Portfolio page projects list layout
.projects-list {
    // Grid layout
    display: grid;
}

// About / Home page skills list layout
#home-skills {
    // List grid layout with 2 columns
    ul {
        // Grid layout
        display: grid;
        // 2 columns, each half of the container width
        grid-template-columns: repeat(2, 1fr);
        // Center aligns content on page
        justify-content: center;
    }
}